<div>
  <form>
    <input
      type="text"
      id="product"
      placeholder="Ingrese el nombre del producto"
    />
    <input
      type="text"
      id="description"
      placeholder="Ingrese la descripción del producto"
    />
    <input type="text" id="code" placeholder="Ingrese el código del producto" />
    <input
      type="number"
      id="price"
      placeholder="Ingrese el precio del producto"
    />
    <input
      type="number"
      id="stock"
      placeholder="Ingrese el stock del producto"
    />

    <button id="submit">Submit</button>
  </form>
    <h1>Lista de Productos</h1>
  <div id="productList">
  </div>
</div>

<script src="/src/public/js/main.js"></script>
